name: CI

on:
  pull_request:
    branches:
      - main
      - pre-prod
      - stage
      - develop
    paths:
      - 'supabase/**'
  push:
    branches:
      - main
      - pre-prod
      - stage
      - develop
    paths:
      - 'supabase/**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: supabase db start
      - run: supabase db lint
      - run: supabase test db

      - name: Verify generated types are checked in
        run: |
          supabase gen types typescript --local > types.gen.ts
          if ! git diff --ignore-space-at-eol --exit-code --quiet types.gen.ts; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff
            exit 1
          fi
  
  which_branch:
    runs-on: ubuntu-latest
    outputs:
      ref: ${{ steps.get_branch.outputs.branch_to_use }}
    steps:
      - id: get_branch
        run: |
          # Use github.base_ref for pull_request events, otherwise use github.ref_name
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            branch_to_use=${{ github.base_ref }}
          else
            branch_to_use=${{ github.ref_name }}
          fi
          echo "branch_to_use=$branch_to_use" >> $GITHUB_OUTPUT
          echo "supabase will try to connect from $branch_to_use branch"

  dryrun:
    runs-on: ubuntu-latest
    needs: which_branch
    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}

      SUPABASE_DB_PASSWORD: ${{ (needs.which_branch.outputs.ref == 'main' && secrets.PRODUCTION_DB_PASSWORD) || (needs.which_branch.outputs.ref == 'pre-prod' && secrets.PREPROD_DB_PASSWORD) || (needs.which_branch.outputs.ref == 'stage' && secrets.STAGE_DB_PASSWORD) || (needs.which_branch.outputs.ref == 'develop' && secrets.DEVELOP_DB_PASSWORD) }}

      SUPABASE_PROJECT_ID: ${{ (needs.which_branch.outputs.ref == 'main' && secrets.PRODUCTION_PROJECT_ID) || (needs.which_branch.outputs.ref == 'pre-prod' && secrets.PREPROD_PROJECT_ID) || (needs.which_branch.outputs.ref == 'stage' && secrets.STAGE_PROJECT_ID) || (needs.which_branch.outputs.ref == 'develop' && secrets.DEVELOP_PROJECT_ID) }}

    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: supabase link --project-ref $SUPABASE_PROJECT_ID
      - run: supabase db push --dry-run
