name: Check for Table ReCreation

on:
  pull_request:
    branches:
      - main
      - pre-prod
      - stage
      - develop
    paths:
      - 'supabase/**'
  workflow_dispatch:

jobs:
  recreate-test:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}

      SUPABASE_DB_PASSWORD: >
        ${{ (github.base_ref == 'main' &&     secrets.PRODUCTION_DB_PASSWORD) ||
            (github.base_ref == 'pre-prod' && secrets.PREPROD_DB_PASSWORD) ||
            (github.base_ref == 'stage' &&    secrets.STAGE_DB_PASSWORD) ||
            (github.base_ref == 'develop' &&  secrets.DEVELOP_DB_PASSWORD) }}

      SUPABASE_PROJECT_ID: >
        ${{ (github.base_ref == 'main' &&     secrets.PRODUCTION_PROJECT_ID) ||
            (github.base_ref == 'pre-prod' && secrets.PREPROD_PROJECT_ID) ||
            (github.base_ref == 'stage' &&    secrets.STAGE_PROJECT_ID) ||
            (github.base_ref == 'develop' &&  secrets.DEVELOP_PROJECT_ID) }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: supabase link --project-ref $SUPABASE_PROJECT_ID --debug
      - run: supabase start --debug 
      - run: supabase db diff --file diff_file.sql
      - run: ./.github/scripts/recreation_check.bash diff_file.sql
