name: Deploy Migrations to the Staging DB branch

on:
  push:
    branches:
      - stage
    paths:
      - 'supabase/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_DB_PASSWORD: ${{ secrets.STAGE_DB_PASSWORD }}
      SUPABASE_PROJECT_ID: ${{ secrets.STAGE_PROJECT_ID }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: supabase link --project-ref $SUPABASE_PROJECT_ID --debug
      - run: supabase db push --debug
